@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.2s ease-in-out;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif !important;
}
nav {
  transition: all 0s ease-in-out;
}
